body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("header.jpg");
  background-size: cover;
}

h3 {
  color: aliceblue;
  font-size: 3em;
}

.btn {
  border-radius: 200px;
  font-weight: 700px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  --bs-btn-hover-bg: #ee4b08;
  --bs-btn-hover-border-color: #ee4b08;
}

.btn-xl {
  padding: 1rem 3rem;

}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;
}

.buffer {
  height: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

